In [162]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
plt.rcParams['font.family'] = 'Gulim'

import warnings
warnings.filterwarnings('ignore')

import datetime
today = str(datetime.datetime.now().date()).replace("-","")
print("오늘 날짜 : " + today)

오늘 날짜 : 20210627

In [163]:
train = pd.read_csv('../data/train.csv')
test = pd.read_csv('../data/test.csv')

In [164]:
train[train['일자'] >= '2020-08-00']

,일자,요일,본사정원수,본사휴가자수,본사출장자수,본사시간외근무명령서승인건수,현본사소속재택근무자수,조식메뉴,중식메뉴,석식메뉴,중식계,석식계
1090,2020-08-03,월,2989,494,155,446,115.0,모닝롤/프렌치토스트 우유/주스 계란후라이 누룽지탕/흑미밥 우거지해장국 해물완자전*케...,쌀밥/흑미밥/찰현미밥 김치두부국 오리대패불고기 골뱅이채소무침 열무나물 포기김치 양상...,흑미밥 꽃게탕 춘천닭갈비 탕평채 땅콩멸치조림 포기김치,1033.0,440.0
1091,2020-08-04,화,2989,464,172,463,115.0,모닝롤/스태프핫도그 우유/주스 계란후라이 소고기죽/흑미밥 오색떡국 어묵고추장무침 양...,쌀밥/수수밥/찰현미밥 냉이된장국 돈갈비찜 오징어튀김*초간장 삼색콜리*초고추장 포기김...,흑미밥 계란파국 고구마치즈돈까스 쫄면채소무침 미역줄기볶음 석박지,776.0,446.0
1092,2020-08-05,수,2989,490,182,7,115.0,모닝롤/고르곤졸라피자 우유/주스 계란후라이 녹두죽/흑미밥 근대국 버섯햄볶음 양상추샐...,쌀밥/흑미밥/찰현미밥 맑은콩나물국 장어강정 꽈리고추메추리알조림 오이양파무침 배추겉절...,오리훈제볶음밥 미소장국 샤워크림새우 두부양념조림 부추팽이버섯생채무침 포기김치,720.0,337.0
1093,2020-08-06,목,2989,482,218,364,109.0,모닝롤/모닝사라다빵 우유/주스 계란후라이 단호박죽/흑미밥 북엇국 돈육장조림 양상추샐...,쌀밥/검정콩밥/찰현미밥 건새우아욱국 쭈삼불고기 분홍소시지전/새송이전 파프리카해초무침...,흑미밥 감자만두국 등심찹쌀꿔바로우 코다리무조림 시금치초고추장무침 포기김치,763.0,373.0
1094,2020-08-07,금,2989,605,239,1,142.0,모닝롤/마약토스트 우유/주스 계란후라이 누룽지탕/흑미밥 순두부백탕 양념깻잎찜 양상추...,쌀밥/흑미밥/찰현미밥 얼갈이된장국 닭다리바베큐오븐구이 아귀순살찜 유부채소겨자냉채 포...,폭탄주먹밥 꼬치어묵국 매운떡볶이 순대찜*소금 모둠튀김(만두*고추*통계란) 포기김치,476.0,261.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1200,2021-01-20,수,2983,75,198,4,391.0,모닝롤/페퍼로니피자 우유/주스 계란후라이/찐계란 크루통크림스프/흑미밥 아귀지리 마늘...,쌀밥/흑미밥/찰현미밥 아욱국 수제함박스테이크 견과류마카로니범벅 생깻잎지 단호박물김치...,김치볶음밥 미니쫄우동*맛살튀김 브로콜리깨소스무침 계란후라이 고들빼기무침 겉절이김치,1093.0,421.0
1201,2021-01-21,목,2983,92,231,462,351.0,모닝롤/생크림단팥빵 우유/주스 계란후라이/찐계란 누룽지탕/흑미밥 떡국 해물땡굴소스볶...,쌀밥/수수밥/찰현미밥 냉이된장국 동파육 봄동전 청경채/버섯숙회*초장 무생채 양상추샐...,흑미밥 쇠고기무국 삼치양념구이 비엔나채소볶음 숙주나물당근무침 포기김치,832.0,353.0
1202,2021-01-22,금,2983,255,248,1,303.0,모닝롤/BLT샌드위치 우유/주스 계란후라이/찐계란 흑임자죽/흑미밥 바지락살국 두부조...,전주비빔밥*약고추장 계란파국 요거닭 올방개묵무침 파프리카해초무침 포기김치 양상추샐러...,흑미밥 수제비국 수제맛쵸킹탕수육 유부채소겨자냉채 참나물무침 갓김치/겉절이김치,579.0,217.0
1203,2021-01-25,월,2983,107,153,616,327.0,모닝롤/호박고구마오븐구이 우유/주스 계란후라이/찐계란 누룽지탕/흑미밥 감자양파국 분...,쌀밥/흑미밥/찰현미밥 전주식콩나물해장국 돈육간장불고기 깐풍연근 연두부*달래양념장 봄...,흑미밥 열무된장국 장어강정*데리야끼소스 깻잎쌈*생강채 오이선 포기김치,1145.0,502.0
1204,2021-01-26,화,2983,69,183,551,362.0,모닝롤/야채샌드 우유/주스 계란후라이/찐계란 참치죽/흑미밥 홍합탕 애호박새우젓볶음 ...,쌀밥/귀리밥/찰현미밥 들깨미역국 교촌간장치킨 옥수수콘치즈구이 가지고추장무침 포기김치...,(New)할라피뇨멸치주먹밥 잔치국수 수제고기육전 쑥갓나물 양파초절임 깍두기,1015.0,480.0

In [165]:
train.head()

,일자,요일,본사정원수,본사휴가자수,본사출장자수,본사시간외근무명령서승인건수,현본사소속재택근무자수,조식메뉴,중식메뉴,석식메뉴,중식계,석식계
0,2016-02-01,월,2601,50,150,238,0.0,모닝롤/찐빵 우유/두유/주스 계란후라이 호두죽/쌀밥 (쌀:국내산) 된장찌개 쥐...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 오징어찌개 쇠불고기 (쇠고기:호주산) 계란찜 ...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 육개장 자반고등어구이 두부조림 건파래무침 ...",1039.0,331.0
1,2016-02-02,화,2601,50,173,319,0.0,모닝롤/단호박샌드 우유/두유/주스 계란후라이 팥죽/쌀밥 (쌀:국내산) 호박젓국찌...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 김치찌개 가자미튀김 모둠소세지구이 마늘쫑무...","콩나물밥*양념장 (쌀,현미흑미:국내산) 어묵국 유산슬 (쇠고기:호주산) 아삭고추무...",867.0,560.0
2,2016-02-03,수,2601,56,180,111,0.0,모닝롤/베이글 우유/두유/주스 계란후라이 표고버섯죽/쌀밥 (쌀:국내산) 콩나물국...,"카레덮밥 (쌀,현미흑미:국내산) 팽이장국 치킨핑거 (닭고기:국내산) 쫄면야채무침 ...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 청국장찌개 황태양념구이 (황태:러시아산) 고기...",1017.0,573.0
3,2016-02-04,목,2601,104,220,355,0.0,"모닝롤/토마토샌드 우유/두유/주스 계란후라이 닭죽/쌀밥 (쌀,닭:국내산) 근대국...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 쇠고기무국 주꾸미볶음 부추전 시금치나물 ...","미니김밥*겨자장 (쌀,현미흑미:국내산) 우동 멕시칸샐러드 군고구마 무피클 포...",978.0,525.0
4,2016-02-05,금,2601,278,181,34,0.0,모닝롤/와플 우유/두유/주스 계란후라이 쇠고기죽/쌀밥 (쌀:국내산) 재첩국 방...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 떡국 돈육씨앗강정 (돼지고기:국내산) 우엉잡채...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 차돌박이찌개 (쇠고기:호주산) 닭갈비 (닭고기:...",925.0,330.0

In [166]:
test.head()

,일자,요일,본사정원수,본사휴가자수,본사출장자수,본사시간외근무명령서승인건수,현본사소속재택근무자수,조식메뉴,중식메뉴,석식메뉴
0,2021-01-27,수,2983,88,182,5,358.0,모닝롤/연유버터베이글 우유/주스 계란후라이/찐계란 단호박죽/흑미밥 우거지국 고기완자...,쌀밥/흑미밥/찰현미밥 대구지리 매운돈갈비찜 오꼬노미계란말이 상추무침 포기김치 양상추...,흑미밥 얼큰순두부찌개 쇠고기우엉볶음 버섯햄볶음 (New)아삭이고추무절임 포기김치
1,2021-01-28,목,2983,104,212,409,348.0,모닝롤/대만샌드위치 우유/주스 계란후라이/찐계란 누룽지탕/흑미밥 황태국 시래기지짐 ...,쌀밥/보리밥/찰현미밥 우렁된장찌개 오리주물럭 청양부추전 수제삼색무쌈 겉절이김치 양상...,충무김밥 우동국물 오징어무침 꽃맛살샐러드 얼갈이쌈장무침 석박지
2,2021-01-29,금,2983,270,249,0,294.0,모닝롤/핫케익 우유/주스 계란후라이/찐계란 오곡죽/흑미밥 매생이굴국 고구마순볶음 양...,쌀밥/흑미밥/찰현미밥 팽이장국 수제돈까스*소스 가자미조림 동초나물무침 포기김치 양상...,흑미밥 물만둣국 카레찜닭 숯불양념꼬지어묵 꼬시래기무침 포기김치
3,2021-02-01,월,2924,108,154,538,322.0,모닝롤/촉촉한치즈케익 우유/주스 계란후라이/찐계란 누룽지탕/흑미밥 두부김칫국 새우완...,쌀밥/흑미밥/찰현미밥 배추들깨국 오리대패불고기 시금치프리타타 부추고추장무침 포기김치...,흑미밥 동태탕 돈육꽈리고추장조림 당면채소무침 모자반무침 포기김치
4,2021-02-02,화,2924,62,186,455,314.0,모닝롤/토마토샌드 우유/주스 계란후라이/찐계란 채소죽/흑미밥 호박맑은국 오이생채 양...,쌀밥/팥밥/찰현미밥 부대찌개 닭살데리야끼조림 버섯탕수 세발나물무침 알타리김치/사과푸...,흑미밥 바지락살국 쇠고기청경채볶음 두부구이*볶은김치 머위된장무침 백김치

## 전처리
- 일자에서 월과 일을 분리
- 요일을 레이블 인코딩화(EDA로 요일의 중요도 순 파악)
- 월 별, 일 별 중식 석식 수요 차이 파악

In [170]:
train['월'] = pd.DatetimeIndex(train['일자']).month
test['월'] =pd.DatetimeIndex(test['일자']).month

train['일'] = pd.DatetimeIndex(train['일자']).day.astype(str)
test['일'] = pd.DatetimeIndex(test['일자']).day.astype(str)

In [171]:
weekday = {
    '월': 1,
    '화': 2,
    '수': 3,
    '목': 4,
    '금': 5
}

train['요일'] = train['요일'].map(weekday)
test['요일'] = test['요일'].map(weekday)

train['식사가능자수'] = train['본사정원수'] - train['본사휴가자수'] - train['현본사소속재택근무자수']
test['식사가능자수'] = test['본사정원수'] - test['본사휴가자수'] - test['현본사소속재택근무자수']


weekday_rank4dinner = {
    1: 1,
    2: 2,
    3: 5,
    4: 3,
    5: 4,
}

train['요일(석식)'] = train['요일'].map(weekday_rank4dinner)
test['요일(석식)'] = test['요일'].map(weekday_rank4dinner)

In [172]:
month_rank4dinner = {
    1: 11,
    2: 2,
    3: 1,
    4: 4,
    5: 8,
    6: 6,
    7: 9,
    8: 7,
    9: 5,
    10: 3,
    11: 10,
    12: 12
}
train['월(석식)'] = train['월'].map(month_rank4dinner)
test['월(석식)'] = test['월'].map(month_rank4dinner)

month_rank4lunch = {
    1: 3,
    2: 1,
    3: 2,
    4: 6,
    5: 7,
    6: 8,
    7: 10,
    8: 9,
    9: 5,
    10: 4,
    11: 11,
    12: 12
}
train['월(중식)'] = train['월'].map(month_rank4lunch)
test['월(중식)'] = test['월'].map(month_rank4lunch)

### train/test에서 중복 메뉴만 변수로서 사용

In [175]:
menu_train = train[['조식메뉴','중식메뉴','석식메뉴']]
menu_test = test[['조식메뉴','중식메뉴','석식메뉴']]
print(menu_train.shape)
print(menu_test.shape)

(1205, 3)
(50, 3)

In [176]:
def clean_split(df):
    df = df.split()
    for j in df:
        if '(' in j:
            del df[df.index(j)]    
    return df

In [177]:
menu_train['조식메뉴_prepro'] = menu_train['조식메뉴'].apply(clean_split)
menu_train['중식메뉴_prepro'] = menu_train['중식메뉴'].apply(clean_split)
menu_train['석식메뉴_prepro'] = menu_train['석식메뉴'].apply(clean_split)

menu_test['조식메뉴_prepro'] = menu_test['조식메뉴'].apply(clean_split)
menu_test['중식메뉴_prepro'] = menu_test['중식메뉴'].apply(clean_split)
menu_test['석식메뉴_prepro'] = menu_test['석식메뉴'].apply(clean_split)

In [178]:
lunch_train_f = [menu[:3] for menu in menu_train.중식메뉴_prepro]
lunch_test_f = [menu[:3] for menu in menu_test.중식메뉴_prepro]

dinner_train_f = [menu[:3] for menu in menu_train.석식메뉴_prepro]
dinner_test_f = [menu[:3] for menu in menu_test.석식메뉴_prepro]

## 벡터화

In [179]:
lunch_train_menu = pd.DataFrame(lunch_train_f, columns = ['밥', '국', '메인'])
lunch_test_menu = pd.DataFrame(lunch_test_f, columns = ['밥', '국', '메인'])

dinner_train_menu = pd.DataFrame(dinner_train_f, columns = ['밥', '국', '메인'])
dinner_test_f_menu = pd.DataFrame(dinner_test_f, columns = ['밥', '국', '메인'])

## 최종 데이터 셋 구축

In [180]:
train.columns

Index(['일자', '요일', '본사정원수', '본사휴가자수', '본사출장자수', '본사시간외근무명령서승인건수',
       '현본사소속재택근무자수', '조식메뉴', '중식메뉴', '석식메뉴', '중식계', '석식계', '월', '일', '월(석식)',
       '식사가능자수', '요일(석식)', '월(중식)'],
      dtype='object')

In [182]:
train_lunch_info = train[['일자', '요일', '본사정원수', '본사휴가자수', '본사출장자수', '본사시간외근무명령서승인건수',
       '현본사소속재택근무자수', '중식계', '일', '식사가능자수', '월(중식)']]

train_dinner_info = train[['일자', '요일(석식)', '본사정원수', '본사휴가자수', '본사출장자수', '본사시간외근무명령서승인건수',
       '현본사소속재택근무자수', '석식계', '일', '식사가능자수', '월(석식)']]

test_lunch = test[['일자', '요일', '본사정원수', '본사휴가자수', '본사출장자수', '본사시간외근무명령서승인건수',
       '현본사소속재택근무자수', '일', '식사가능자수', '월(중식)']]

test_dinner = test[['일자', '요일(석식)', '본사정원수', '본사휴가자수', '본사출장자수', '본사시간외근무명령서승인건수',
       '현본사소속재택근무자수', '일', '식사가능자수', '월(석식)']]

In [183]:
print(lunch_train.shape)
print(lunch_test.shape)

(1205, 10)
(50, 9)

In [184]:
drop_index = dinner_train[dinner_train_menu['국'].isnull()].index

dinner_train.isnull().sum()

요일                0
본사정원수             0
본사휴가자수            0
본사출장자수            0
본사시간외근무명령서승인건수    0
현본사소속재택근무자수       0
월                 0
일                 0
식사가능자수            0
석식계               0
dtype: int64

In [185]:
dinner_train.drop(drop_index, inplace=True)
y_dinner.drop(drop_index, inplace=True)

print(dinner_train.shape)
print(y_dinner.shape)

(1169, 10)
(1205, 1)

## Lunch

In [186]:
from pycaret.regression import *

In [187]:
lunch_regression_model = setup(data=lunch_train, target='중식계', train_size=0.8,n_jobs=-1,fold = 5)

In [188]:
lunch_regression_best_models = compare_models(fold=5, n_select=3, exclude=['huber','llar','lar','par','lasso'])

In [189]:
lunch_regression_best_models_tuned = [tune_model(i, optimize='MAE') for i in lunch_regression_best_models]

In [190]:
lunch_model = blend_models(estimator_list=lunch_regression_best_models_tuned, fold=5, optimize='MAE')

In [191]:
pred = predict_model(lunch_model)

In [192]:
submission = pd.read_csv('../data/sample_submission.csv')

final_model_lunch = finalize_model(lunch_model)
prep_pipe_lunch = get_config('prep_pipe')
prep_pipe_lunch.steps.append(['trained_model', final_model_lunch])

pred_lunch = prep_pipe_lunch.predict(lunch_test)

submission.iloc[:,1] = pred_lunch
submission.head()

           일자          중식계  석식계
0  2021-01-27  1009.098948    0
1  2021-01-28   919.953921    0
2  2021-01-29   648.994932    0
3  2021-02-01  1185.475043    0
4  2021-02-02  1014.308373    0

## dinner

In [193]:
dinner_regression_model = setup(data=dinner_train, target='석식계', train_size=0.8,n_jobs=-1,fold = 5)

In [194]:
dinner_regression_best_models = compare_models(fold=5, n_select=2, exclude=['huber','llar','lar','par','lasso'])

In [195]:
dinner_regression_best_models_tuned = [tune_model(i, optimize='MAE') for i in dinner_regression_best_models]

In [196]:
dinner_model = blend_models(estimator_list=dinner_regression_best_models, fold=5, optimize='MAE')

In [197]:
pred = predict_model(dinner_model)

In [198]:
final_model_dinner = finalize_model(dinner_model_f)
prep_pipe_dinner = get_config('prep_pipe')
prep_pipe_dinner.steps.append(['trained_model', final_model_dinner])

pred_dinner = prep_pipe_dinner.predict(dinner_test)
submission.iloc[:,2] = pred_dinner

### 테스트 데이터 예측

In [199]:
submission.to_csv('../submission/'+today+'_pycaret_menu.csv', index =False)

In [200]:
submission.head()

           일자          중식계         석식계
0  2021-01-27  1009.098948  327.102174
1  2021-01-28   919.953921  424.205873
2  2021-01-29   648.994932  263.407078
3  2021-02-01  1185.475043  526.054363
4  2021-02-02  1014.308373  462.153722

In [206]:
bd = pd.read_csv('../submission/제출해야될것.csv')
abs(submission.values[:,1:] - bd.values[:,1:]).mean()

24.64643885574415