In [84]:
import pandas as pd
import numpy as np
from pycaret.regression import setup, compare_models, blend_models,tune_model,predict_model,get_config, finalize_model

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.rcParams['font.family'] = 'Gulim'

In [85]:
train = pd.read_csv('../data/train.csv')
test = pd.read_csv('../data/test.csv')

In [86]:
train.head()

,일자,요일,본사정원수,본사휴가자수,본사출장자수,본사시간외근무명령서승인건수,현본사소속재택근무자수,조식메뉴,중식메뉴,석식메뉴,중식계,석식계
0,2016-02-01,월,2601,50,150,238,0.0,모닝롤/찐빵 우유/두유/주스 계란후라이 호두죽/쌀밥 (쌀:국내산) 된장찌개 쥐...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 오징어찌개 쇠불고기 (쇠고기:호주산) 계란찜 ...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 육개장 자반고등어구이 두부조림 건파래무침 ...",1039.0,331.0
1,2016-02-02,화,2601,50,173,319,0.0,모닝롤/단호박샌드 우유/두유/주스 계란후라이 팥죽/쌀밥 (쌀:국내산) 호박젓국찌...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 김치찌개 가자미튀김 모둠소세지구이 마늘쫑무...","콩나물밥*양념장 (쌀,현미흑미:국내산) 어묵국 유산슬 (쇠고기:호주산) 아삭고추무...",867.0,560.0
2,2016-02-03,수,2601,56,180,111,0.0,모닝롤/베이글 우유/두유/주스 계란후라이 표고버섯죽/쌀밥 (쌀:국내산) 콩나물국...,"카레덮밥 (쌀,현미흑미:국내산) 팽이장국 치킨핑거 (닭고기:국내산) 쫄면야채무침 ...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 청국장찌개 황태양념구이 (황태:러시아산) 고기...",1017.0,573.0
3,2016-02-04,목,2601,104,220,355,0.0,"모닝롤/토마토샌드 우유/두유/주스 계란후라이 닭죽/쌀밥 (쌀,닭:국내산) 근대국...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 쇠고기무국 주꾸미볶음 부추전 시금치나물 ...","미니김밥*겨자장 (쌀,현미흑미:국내산) 우동 멕시칸샐러드 군고구마 무피클 포...",978.0,525.0
4,2016-02-05,금,2601,278,181,34,0.0,모닝롤/와플 우유/두유/주스 계란후라이 쇠고기죽/쌀밥 (쌀:국내산) 재첩국 방...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 떡국 돈육씨앗강정 (돼지고기:국내산) 우엉잡채...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 차돌박이찌개 (쇠고기:호주산) 닭갈비 (닭고기:...",925.0,330.0

## 전처리
- 일자에서 월과 일을 분리
- 요일을 레이블 인코딩화(EDA로 요일의 중요도 순 파악)
- 월 별, 일 별 중식 석식 수요 차이 파악

In [87]:
train['월'] = pd.DatetimeIndex(train['일자']).month.astype(str)
test['월'] = pd.DatetimeIndex(test['일자']).month.astype(str)
train['주'] = pd.DatetimeIndex(train['일자']).week.astype(str)
test['주'] = pd.DatetimeIndex(test['일자']).week.astype(str)
train['일'] = pd.DatetimeIndex(train['일자']).day.astype(str)
test['일'] = pd.DatetimeIndex(test['일자']).day.astype(str)

train['출근'] = train['본사정원수']-(train['본사휴가자수']+train['본사출장자수']+train['현본사소속재택근무자수'])
train['휴가비율'] = train['본사휴가자수']/train['본사정원수']
train['출장비율'] = train['본사출장자수']/train['본사정원수']
train['야근비율'] = train['본사시간외근무명령서승인건수']/train['출근']
train['재택비율'] = train['현본사소속재택근무자수']/train['본사정원수']

test['출근'] = test['본사정원수']-(test['본사휴가자수']+test['본사출장자수']+test['현본사소속재택근무자수'])
test['휴가비율'] = test['본사휴가자수']/test['본사정원수']
test['출장비율'] = test['본사출장자수']/test['본사정원수']
test['야근비율'] = test['본사시간외근무명령서승인건수']/test['출근']
test['재택비율'] = test['현본사소속재택근무자수']/test['본사정원수']

## 공휴일 변수 생성

In [213]:
train['공휴일전후'] = 'N'
test['공휴일전후'] = 'N'

[4h, 17s, 152s, 221s, 226s, 245h, 309s, 310s,311s,330s,379s, 421h,502h,511s,565s,650h,651s,705s,709s,732h,815s,864s,951e,971h, 1038s,1129h, 1187e, ]

In [214]:
train['공휴일전후'][4] = 'H'
train['공휴일전후'][17] = 'S'
train['공휴일전후'][152] = 'S'
train['공휴일전후'][245] = 'H'
train['공휴일전후'][310] = 'S'
train['공휴일전후'][311] = 'S'
train['공휴일전후'][330] = 'S'
train['공휴일전후'][379] = 'S'
train['공휴일전후'][421] = 'H'
train['공휴일전후'][502] = 'H'
train['공휴일전후'][511] = 'S'
train['공휴일전후'][565] = 'S'
train['공휴일전후'][650] = 'H'
train['공휴일전후'][651] = 'S'
train['공휴일전후'][705] = 'C'
train['공휴일전후'][709] = 'S'
train['공휴일전후'][732] = 'H'
train['공휴일전후'][815] = 'S'
train['공휴일전후'][864] = 'S'
train['공휴일전후'][951] = 'C'
train['공휴일전후'][971] = 'H'
train['공휴일전후'][1038] = 'S'
train['공휴일전후'][1129] = 'H'
train['공휴일전후'][1187] = 'C'


test['공휴일전후'][10] = 'H'

In [215]:
train[train['공휴일전후'] != 'N'][need]

              일자 요일    중식계    석식계      휴가비율
4     2016-02-05  금  925.0  330.0  0.106882
17    2016-02-29  월  869.0  344.0  0.228758
152   2016-09-13  화  820.0  238.0  0.184543
245   2017-01-26  목  844.0  147.0  0.136819
310   2017-05-04  목  383.0  262.0  0.464164
311   2017-05-08  월  792.0  308.0  0.271141
330   2017-06-05  월  760.0  306.0  0.239048
379   2017-08-14  월  692.0  275.0  0.326276
421   2017-10-20  금  533.0  416.0  0.071834
502   2018-02-14  수  850.0    0.0  0.154414
511   2018-03-02  금  508.0  349.0  0.309506
565   2018-05-21  월  543.0  234.0  0.316428
650   2018-09-21  금  929.0  247.0  0.094101
651   2018-10-08  월  895.0  442.0  0.151159
705   2018-12-24  월  296.0  104.0  0.314125
709   2018-12-31  월  332.0  135.0  0.381237
732   2019-02-01  금  804.0  171.0  0.100855
815   2019-06-07  금  389.0  244.0  0.322698
864   2019-08-16  금  466.0  313.0  0.310439
951   2019-12-24  화  462.0  221.0  0.153648
971   2020-01-23  목  685.0  117.0  0.170507
1038  2020-05-04  월  504.0  123.0  0.375760
1129  2020-09-28  월  358.0  165.0  0.314496
1187  2020-12-24  목  591.0  131.0  0.259866

## 텍스트(메뉴) 전처리

### train/test에서 중복 메뉴만 변수로서 사용

In [216]:
menu_train = train[['조식메뉴','중식메뉴','석식메뉴']]
menu_test = test[['조식메뉴','중식메뉴','석식메뉴']]
print(menu_train.shape)
print(menu_test.shape)

(1205, 3)
(50, 3)

In [217]:
def clean_split(df):
    df = df.split()
    for j in df:
        if '(' in j:
            del df[df.index(j)]    
    return df

In [218]:
menu_train['조식메뉴_prepro'] = menu_train['조식메뉴'].apply(clean_split)
menu_train['중식메뉴_prepro'] = menu_train['중식메뉴'].apply(clean_split)
menu_train['석식메뉴_prepro'] = menu_train['석식메뉴'].apply(clean_split)

menu_test['조식메뉴_prepro'] = menu_test['조식메뉴'].apply(clean_split)
menu_test['중식메뉴_prepro'] = menu_test['중식메뉴'].apply(clean_split)
menu_test['석식메뉴_prepro'] = menu_test['석식메뉴'].apply(clean_split)

In [219]:
lunch_train_f = [menu[:3] for menu in menu_train.중식메뉴_prepro]
lunch_test_f = [menu[:3] for menu in menu_test.중식메뉴_prepro]

dinner_train_f = [menu[:3] for menu in menu_train.석식메뉴_prepro]
dinner_test_f = [menu[:3] for menu in menu_test.석식메뉴_prepro]

In [220]:
lunch_train_menu = pd.DataFrame(lunch_train_f, columns = ['밥', '국', '메인'])
lunch_test_menu = pd.DataFrame(lunch_test_f, columns = ['밥', '국', '메인'])

dinner_train_menu = pd.DataFrame(dinner_train_f, columns = ['밥', '국', '메인'])
dinner_test_menu = pd.DataFrame(dinner_test_f, columns = ['밥', '국', '메인'])

## 최종 데이터 셋 구축

In [221]:
train.columns

Index(['일자', '요일', '본사정원수', '본사휴가자수', '본사출장자수', '본사시간외근무명령서승인건수',
       '현본사소속재택근무자수', '조식메뉴', '중식메뉴', '석식메뉴', '중식계', '석식계', '월', '주', '일',
       '출근', '휴가비율', '출장비율', '야근비율', '재택비율', '공휴일전후'],
      dtype='object')

In [253]:
lunch_train = pd.concat([train[['요일','월','일','주','본사시간외근무명령서승인건수', '본사출장자수', '본사휴가자수', '본사정원수','현본사소속재택근무자수', '공휴일전후','출근', '휴가비율', '출장비율', '야근비율', '재택비율','중식계']]],axis=1)
lunch_test = pd.concat([test[['요일','월','일','주','본사시간외근무명령서승인건수', '본사출장자수', '본사휴가자수', '본사정원수','현본사소속재택근무자수', '공휴일전후','출근', '휴가비율', '출장비율', '야근비율', '재택비율']]],axis=1)


dinner_train = pd.concat([train[['요일','월','일','주','본사시간외근무명령서승인건수', '본사출장자수', '본사휴가자수', '본사정원수','현본사소속재택근무자수', '공휴일전후','출근', '휴가비율', '출장비율', '야근비율', '재택비율','석식계']]],axis=1)
dinner_test = pd.concat([test[['요일','월','일','주','본사시간외근무명령서승인건수', '본사출장자수', '본사휴가자수', '본사정원수','현본사소속재택근무자수', '공휴일전후','출근', '휴가비율', '출장비율', '야근비율', '재택비율']]],axis=1)

In [254]:
print(lunch_train.shape)
print(lunch_test.shape)

(1205, 16)
(50, 15)

In [255]:
print(dinner_train.shape)
print(dinner_test.shape)

(1205, 16)
(50, 15)

#### 분포 확인 및 분포 조정

In [256]:
drop_index = dinner_train[dinner_train['석식계']==0].index

dinner_train.iloc[drop_index]

,요일,월,일,주,본사시간외근무명령서승인건수,본사출장자수,본사휴가자수,본사정원수,현본사소속재택근무자수,공휴일전후,출근,휴가비율,출장비율,야근비율,재택비율,석식계
204,수,11,30,48,0,207,68,2689,0.0,N,2414.0,0.025288,0.076980,0.000000,0.000000,0.0
224,수,12,28,52,0,225,166,2705,0.0,N,2314.0,0.061368,0.083179,0.000000,0.000000,0.0
244,수,1,25,4,0,203,79,2697,0.0,N,2415.0,0.029292,0.075269,0.000000,0.000000,0.0
262,수,2,22,8,0,252,75,2632,0.0,N,2305.0,0.028495,0.095745,0.000000,0.000000,0.0
281,수,3,22,12,0,235,53,2627,0.0,N,2339.0,0.020175,0.089456,0.000000,0.000000,0.0
306,수,4,26,17,0,304,45,2626,0.0,N,2277.0,0.017136,0.115765,0.000000,0.000000,0.0
327,수,5,31,22,0,265,43,2637,0.0,N,2329.0,0.016306,0.100493,0.000000,0.000000,0.0
346,수,6,28,26,0,259,58,2648,0.0,N,2331.0,0.021903,0.097810,0.000000,0.000000,0.0
366,수,7,26,30,0,246,254,2839,0.0,N,2339.0,0.089468,0.086650,0.000000,0.000000,0.0
392,금,9,1,35,45,303,177,2642,0.0,N,2162.0,0.066995,0.114686,0.020814,0.000000,0.0
410,수,9,27,39,0,265,70,2642,0.0,N,2307.0,0.026495,0.100303,0.000000,0.000000,0.0
412,금,9,29,39,22,248,214,2642,0.0,N,2180.0,0.080999,0.093868,0.010092,0.000000,0.0
424,수,10,25,43,0,289,75,2645,0.0,N,2281.0,0.028355,0.109263,0.000000,0.000000,0.0
449,수,11,29,48,0,261,78,2644,0.0,N,2305.0,0.029501,0.098714,0.000000,0.000000,0.0
468,수,12,27,52,0,255,169,2665,0.0,N,2241.0,0.063415,0.095685,0.000000,0.000000,0.0
492,수,1,31,5,0,223,56,2655,0.0,N,2376.0,0.021092,0.083992,0.000000,0.000000,0.0
502,수,2,14,7,0,159,418,2707,0.0,H,2130.0,0.154414,0.058737,0.000000,0.000000,0.0
510,수,2,28,9,0,278,134,2707,0.0,N,2295.0,0.049501,0.102697,0.000000,0.000000,0.0
529,수,3,28,13,0,252,45,2714,0.0,N,2417.0,0.016581,0.092852,0.000000,0.000000,0.0
549,수,4,25,17,0,285,66,2714,0.0,N,2363.0,0.024318,0.105011,0.000000,0.000000,0.0
571,수,5,30,22,0,281,80,2721,0.0,N,2360.0,0.029401,0.103271,0.000000,0.000000,0.0
589,수,6,27,26,0,277,66,2728,0.0,N,2385.0,0.024194,0.101540,0.000000,0.000000,0.0
609,수,7,25,30,1,256,226,2704,0.0,N,2222.0,0.083580,0.094675,0.000450,0.000000,0.0
633,수,8,29,35,0,258,103,2996,0.0,N,2635.0,0.034379,0.086115,0.000000,0.000000,0.0
648,수,9,19,38,0,288,77,2763,0.0,N,2398.0,0.027868,0.104235,0.000000,0.000000,0.0
667,수,10,31,44,0,306,111,2805,0.0,N,2388.0,0.039572,0.109091,0.000000,0.000000,0.0
687,수,11,28,48,1,298,69,2815,0.0,N,2448.0,0.024512,0.105861,0.000408,0.000000,0.0
706,수,12,26,52,0,241,184,2846,0.0,N,2421.0,0.064652,0.084680,0.000000,0.000000,0.0
730,수,1,30,5,1,226,66,2985,0.0,N,2693.0,0.022111,0.075712,0.000371,0.000000,0.0
747,수,2,27,9,0,274,100,2806,0.0,N,2432.0,0.035638,0.097648,0.000000,0.000000,0.0
766,수,3,27,13,0,259,92,2836,0.0,N,2485.0,0.032440,0.091326,0.000000,0.000000,0.0
786,수,4,24,17,0,273,59,2822,0.0,N,2490.0,0.020907,0.096740,0.000000,0.000000,0.0
809,수,5,29,22,0,237,50,2825,0.0,N,2538.0,0.017699,0.083894,0.000000,0.000000,0.0
828,수,6,26,26,0,282,69,2758,0.0,N,2407.0,0.025018,0.102248,0.000000,0.000000,0.0
853,수,7,31,31,0,231,495,2760,0.0,N,2034.0,0.179348,0.083696,0.000000,0.000000,0.0
872,수,8,28,35,0,274,123,3305,0.0,N,2908.0,0.037216,0.082905,0.000000,0.000000,0.0
890,수,9,25,39,1,285,60,3111,0.0,N,2766.0,0.019286,0.091610,0.000362,0.000000,0.0
912,수,10,30,44,1,294,122,3121,0.0,N,2705.0,0.039090,0.094201,0.000370,0.000000,0.0
932,수,11,27,48,1,288,134,3104,0.0,N,2682.0,0.043170,0.092784,0.000373,0.000000,0.0
955,화,12,31,1,22,149,709,3111,0.0,N,2253.0,0.227901,0.047895,0.009765,0.000000,0.0
973,수,1,29,5,4,214,101,2821,0.0,N,2506.0,0.035803,0.075860,0.001596,0.000000,0.0
993,수,2,26,9,4,190,109,2872,0.0,N,2573.0,0.037953,0.066156,0.001555,0.000000,0.0
1166,수,11,25,48,3,191,206,3021,387.0,N,2237.0,0.068189,0.063224,0.001341,0.128103,0.0

In [257]:
dinner_train.drop(drop_index, inplace=True)

print(dinner_train.shape)

(1162, 16)

# 중식 예측모델

In [260]:
cat_features = [f for f in lunch_train.columns if lunch_train[f].dtype == 'object']

def column_index(df, cat_features):
    cols = df.columns.values
    sidx = np.argsort(cols)
    return sidx[np.searchsorted(cols, cat_features, sorter=sidx)]

cat_features_idx = column_index(lunch_train, cat_features)    
print("Cat features are: %s" % [f for f in cat_features])
print(cat_features_idx)

Cat features are: ['요일', '월', '일', '주', '공휴일전후']
[0 1 2 3 9]

In [261]:
lunch_regression_model = setup(data=lunch_train, target='중식계', train_size=0.8,n_jobs=-1,fold = 5,
                               categorical_features = cat_features,
                               numeric_imputation = 'mean',
                               normalize = True)

In [262]:
# 최고 성능 모델 선정(2개)
lunch_regression_best_models = compare_models(sort='MAE', fold=5, n_select=2)

In [263]:
lunch_regression_best_models_tuned = [tune_model(model, optimize='MAE') for model in lunch_regression_best_models]

In [264]:
lunch_model = blend_models(estimator_list=lunch_regression_best_models_tuned, fold=5, optimize='MAE')

In [266]:
pred = predict_model(lunch_model)

### 테스트 데이터 예측

In [267]:
submission = pd.read_csv('../data/sample_submission.csv')

In [268]:
final_model_lunch = finalize_model(lunch_model)
prep_pipe_lunch = get_config('prep_pipe')
prep_pipe_lunch.steps.append(['trained_model', final_model_lunch])

In [272]:
answer = pd.read_csv('../submission/제출해야될것.csv')['중식계']

abs(answer - pred_lunch).mean()

36.93714801900568

In [269]:
pred_lunch = prep_pipe_lunch.predict(lunch_test)

submission.iloc[:,1] = pred_lunch
submission.head()

           일자          중식계  석식계
0  2021-01-27  1030.240513    0
1  2021-01-28   951.382904    0
2  2021-01-29   616.514112    0
3  2021-02-01  1224.098803    0
4  2021-02-02   976.909941    0

# 석식 예측모델

In [273]:
dinner_regression_model = setup(data=dinner_train, target='석식계', train_size=0.8,n_jobs=-1,fold = 5,
                               categorical_features = cat_features,
                               numeric_imputation = 'mean',
                               normalize = True)

In [274]:
dinner_regression_best_models = compare_models(sort='MAE', fold=5, n_select=3, exclude=['huber','llar','lar','par','lasso'])

In [284]:
dinner_regression_best_models_tuned[0].get_feature_importance()

array([9.85390119e+00, 1.23191220e+01, 3.81041743e+00, 9.88517015e+00,
       4.57404490e+00, 2.89904811e+01, 7.81228759e+00, 1.13223587e+00,
       1.06109230e+00, 4.45137387e-02, 1.03815628e-01, 1.51786296e-01,
       2.76575759e+00, 5.13065869e-01, 7.58060966e-02, 2.89718741e+00,
       8.76355001e-01, 9.30572351e-01, 0.00000000e+00, 1.51908275e-01,
       1.97410203e-01, 5.36938932e-01, 3.84719331e-01, 3.81884536e-01,
       0.00000000e+00, 4.44316560e-02, 1.53654545e-01, 0.00000000e+00,
       0.00000000e+00, 1.13998746e-01, 0.00000000e+00, 4.35084226e-02,
       0.00000000e+00, 0.00000000e+00, 6.18264789e-02, 0.00000000e+00,
       2.41251630e-02, 3.60940865e-01, 4.59604235e-02, 1.45910205e-01,
       1.45824829e-01, 3.03944925e-02, 2.52825336e-02, 7.65229388e-03,
       0.00000000e+00, 0.00000000e+00, 7.73281793e-02, 5.71009241e-02,
       2.58346707e-02, 2.50265449e-01, 5.49365467e-02, 1.45098424e-01,
       6.75187491e-03, 1.97856732e-01, 3.37633342e-02, 0.00000000e+00,
       1.29877796e-01, 0.00000000e+00, 0.00000000e+00, 9.60740975e-02,
       1.40469016e-02, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       2.38940066e-02, 0.00000000e+00, 1.26411829e-01, 2.93026291e-02,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 2.82509688e-02, 0.00000000e+00, 0.00000000e+00,
       2.58343845e-01, 5.12168942e-02, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 2.09134581e-02, 1.94750235e-02, 0.00000000e+00,
       4.16601648e-02, 5.24861278e-02, 7.38627668e-02, 1.78607546e-02,
       1.64602594e-01, 9.82987598e-01, 5.82984569e-01, 3.32231307e-02,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 7.47082441e-02,
       2.98847076e-02, 0.00000000e+00, 0.00000000e+00, 6.37365130e-01,
       4.52511033e-02, 3.70971714e-01, 1.64138406e+00, 6.02020244e-01,
       1.08901569e-01, 1.06186383e-01, 8.71943061e-02, 7.76956084e-03,
       1.15515605e-01, 1.92245171e+00, 0.00000000e+00])

In [276]:
dinner_regression_best_models_tuned = [tune_model(model, optimize='MAE') for model in lunch_regression_best_models]

In [277]:
dinner_model = blend_models(estimator_list=dinner_regression_best_models, fold=5, optimize='MAE')

In [278]:
pred = predict_model(dinner_model)

## 테스트

### 테스트 데이터 예측

In [279]:
final_model_dinner = finalize_model(dinner_model)
prep_pipe_dinner = get_config('prep_pipe')
prep_pipe_dinner.steps.append(['trained_model', final_model_dinner])

In [280]:
pred_dinner = prep_pipe_dinner.predict(dinner_test)
submission.iloc[:,2] = pred_dinner
submission.head()

           일자          중식계         석식계
0  2021-01-27  1030.240513  383.742340
1  2021-01-28   951.382904  391.616347
2  2021-01-29   616.514112  247.968474
3  2021-02-01  1224.098803  550.179260
4  2021-02-02   976.909941  466.274002

# 저장

In [35]:
import datetime
today = str(datetime.datetime.now().date()).replace("-","")
print("오늘 날짜 : " + today)

submission.to_csv(f'../submission/{today}_pycaret_KJH.csv', index =False)

오늘 날짜 : 20210627

In [285]:
def plot_feature_importance(importance, names, model_type):
    
    feature_importance = np.array(importance)
    feature_names = np.array(names)
    
    data={'feature_names':feature_names,'feature_importance':feature_importance}
    fi_df = pd.DataFrame(data)
    
    fi_df.sort_values(by=['feature_importance'], ascending=False,inplace=True)

    plt.figure(figsize=(10,8))

    sns.barplot(x=fi_df['feature_importance'], y=fi_df['feature_names'])

    plt.title(model_type + ' Feature Importance')
    plt.xlabel('Feature Importance')
    plt.ylabel('Feature Names')

In [294]:
len(dinner_regression_best_models_tuned[0].get_feature_importance())

111

In [292]:

plot_feature_importance(dinner_regression_best_models_tuned[0].get_feature_importance(),dinner_train.columns,"CATBOOST")

ValueError: arrays must all be same length